<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender" level="TRACE">
        <encoder>
            <pattern>[%-5level] %logger{15} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.vertx" level="TRACE">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.hazelcast" level="TRACE">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="io.netty.util.internal.PlatformDependent" level="TRACE">
        <appender-ref ref="STDOUT"/>
    </logger>
    <root level="TRACE">
    </root>
</configuration>